*{
    box-sizing: border-box;
    margin: 0;
}
#navbarNav {
    margin-left: 70%;
    color: yellow;
}

.title-pic {
    background-color: aquamarine;
    height: 250px; 
}

.title-pic h1{
    text-align: center;
    padding-top: 90px;
}
#input-area {
    position: relative;
    text-align: center;
    margin: auto;
    width: 1200px;
    margin-top: 2%;
    margin-bottom: 2%;
    
}
input.form-control{
    border-color: #198754;
    margin-left: 30px;
    height: 44.5px;
}
.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: relative;
    margin-left: 40px;
}

textarea.form-control {
    width: 700px;
    margin-left: 10%;
    border: #198754 solid 2px;
}
label {
    text-align: center;
    margin-left: 10%;
    color: #198754;
    font-size: 18px;
}
.container-text-center {
    border: 2px #198754 solid;
    text-align: center;
    width: 1200px;
    margin: auto;
}
