* {
  box-sizing: border-box;
  margin: 0;
}

#navbarNav {
  margin-left: 75%;
  background-color: pink;
  border-radius: 5px;
}

.title-pic {
  background: linear-gradient(to left top,#f8fafa,#bee8d8);
  border-radius: 55px;
  height: 250px;
  width:  ;

}

.title-pic h2 {
  text-align: center;
  padding-top: 90px;
  text-shadow: 3px 3px 0   #ff9d00, 6px 6px 0  rgb(244, 244, 71),
    9px 9px  rgb(145, 255, 0), 12px 12px 0   rgb(120, 235, 197);
  font-family: bungee, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: pink;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 1px;
}
@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 #ff9d00;
  }
  20% {
    text-shadow: 3px 3px 0 #ff9d00,
      6px 6px 0 rgb(244, 244, 71);
  }
  30% {
    text-shadow: 3px 3px 0 #ff9d00,
      6px 6px 0 rgb(244, 244, 71), 9px 9px rgb(145, 255, 0);
  }
  40% {
    text-shadow: 3px 3px 0 #ff9d00,
      6px 6px 0 rgb(244, 244, 71), 9px 9px rgb(145, 255, 0),
      12px 12px 0 rgb(120, 235, 197);
  }
  50% {
    text-shadow: 3px 3px 0 #ff9d00,
      6px 6px 0 rgb(244, 244, 71), 9px 9px rgb(145, 255, 0),
      12px 12px 0 rgb(120, 235, 197);
  }
  60% {
    text-shadow: 3px 3px 0 #ff9d00,
      6px 6px 0 rgb(244, 244, 71), 9px 9px rgb(145, 255, 0),
      12px 12px 0 rgb(120, 235, 197);
  }
  70% {
    text-shadow: 3px 3px 0 #ff9d00,
      6px 6px 0 rgb(244, 244, 71), 9px 9px rgb(145, 255, 0);
  }
  80% {
    text-shadow: 3px 3px 0 #ff9d00,
      6px 6px 0 rgb(244, 244, 71);
  }
  90% {
    text-shadow: 3px 3px 0 #ff9d00;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.btn11{
  text-align: center; 
  margin: 50px;

}
.button_active{
  padding: 20px;
  font-weight: bold;
  
}
.container {
  min-height: 100vh;
  background: linear-gradient(to right top,#f8fafa,#bee8d8);
  border-radius: 55px;
 }
 /*.modal-footer{
  background-color: palegreen;
 }*/
.modal-body {
  box-sizing: border-box;
  background-color:antiquewhite;
}

 .modal-header{
  text-align: center;
  font-weight: bolder;
  background-color: #afded1;
 }
 .form {
  box-shadow: 0 5px 5px 0px ;
  border-radius: 8px;
   background-color:lightpink;
  height:400px;
  
 }
 .mb-5 {
   color: #198754;
  
 }
  
 
 .modal-title {
    font-weight: bold;
  width : 100px;
  
 }

  
 
 



.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tcard {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(213, 235, 219);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border: 1px solid gray;
}

.status-title {
  width: 100%;
  border-radius: 5px;
  border: 2px solid gray;
  padding: 10px;
  margin-top: 0px;
}

.task-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  border: 2px solid rgb(206, 45, 45);
  border-radius: 5px;
  margin: 10px 2px 10px 2px;
  padding: 10px 10px 0px 10px;
  background-color: snow;
}

/*----- taskbax2----*/
.task-box2 {
  width: 600px;
  height: 600px;
  display: grid;
  border: 2px solid rgb(160, 188, 36);
  border-radius: 5px;
  /* margin: 10px 2px 10px 2px;
  padding: 10px 10px 10px 10px; */
  background-color: snow;
  text-align: left;
  line-height: 25px;
  color: #d3db2f;
  margin: auto;
  margin-top: 5%;
}



.button-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.button-panel button {
  border: 1px solid rgb(206, 45, 45);
  border-radius: 10px;
  margin: 0px 5px 0px 5px;
  padding: 10px;
  width: 40%;
}

.delete {
  background-color: red;
  color: white;
}
.edit {
  background-color: rgb(49, 138, 176);
  color: white;
}

#input-area {
  position: relative;
  text-align: center;
  margin: auto;
  width: 1200px;
  margin-top: 2%;
  margin-bottom: 2%;
}
input.form-control {
  border-color: #198754;
  margin-left: 30px;
  height: 44.5px;
 
}
.dropdown,
.dropdown-center,
.dropend,
.dropstart,
.dropup,
.dropup-center {
  position: relative;
  margin-left: 40px;
}

textarea.form-control {
  width: 700px;
  margin-left: 10%;
  border: #198754 solid 2px;
  background-color: #d9470e;
}
label {
  text-align: center;
  margin-left: 10%;
  color: #198754;
  font-size: 18px;
  font-weight: bold;
 
  
}
.container-text-center {
  border: 2px #198754 solid;
  text-align: center;
  width: 1200px;
  margin: auto;
}

/* media queries */
@media (min-width: 768px) and (max-width: 991.98px) {
  #input-area {
    width: 700px;
    position: relative;
  }
  .dropdown,
  .dropdown-center,
  .dropend,
  .dropstart,
  .dropup,
  .dropup-center {
    position: relative;
    margin-right: 30px;
    margin-left: 20px;
    width: 2px;
  }
}



/*---Sign-up form styling */

.col-md-6
{text-align: center;
  display:flex;
}

.form-label
{color:blueviolet;
  width: 140px;
  text-align: left;
  margin-top: 5px;

}

.form-control
{  width: 300px;
  height: 600px;
  margin: auto;
  border: 1px solid #73AD21;
  margin-top: 5px;

}

.col-12
{display:flex;
margin-top: 10px;
}

.btn4{
  text-align: center;
  margin-left: 250px;
  line-height: 40px;
  width: 260px;
  font-size: 25px;
  background-color: #d9470e;
  border-radius: 8px;
}

.SignUp
{
  border: 1px solid #d9470e;
  margin-left: 150px;
  margin-right: 600px;
  background-color: aliceblue;
display:inline;
}

.wel{
margin-bottom: 25px;
margin-top: 50px;
margin-left: 150px;
color:brown;
} 

/* signup page css end */

/* login page  */
 .login-box{
  background-color: rgb(231, 219, 223);
  width:500px;
  height: 450px;
  margin-top: 20px;
  margin-left: 50px;
  padding-left:50px;
  }

 .sm-09{
  width:200px;

  padding:10px;
  text-align: left;
  margin-top: 20px;
  line-height: 30px;
 }

 .btn2{
  background-color: aqua;
  margin-left: 150px;
  line-height: 35px;
  width: 150px;
  border-radius: 8px;
 }

 .col-form-label1{
  text-align: left;
 }





/*----submit addnewtask....*/
 .button_active {
background-color:greenyellow;
width:300px;
line-height: 40px;
font-weight: bolder;
font-size: larger;
border-radius: 80px;
border: none;
margin-bottom: 10px;
 }


 

.col-2{
  margin-top:10px;
  width:400px,20px;
}

.bt-container {
  text-align: center;
}
.btn.btn-success{
  padding: 20px;
  margin: 20px;
  width: 250px;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  border-radius: 25px;
  background-color: rgba(83, 216, 200, 0.678);
}
.show1 {
  font-weight:bold;
 line-height: 40px;
 color:brown;
 background-color: rgb(236, 229, 229);
 display:list-item;
 text-align: center;
 border: #198754;
 }

 .table-responsive{
  border: #afded1 ridge 5px;
  border-radius: 25px;
  overflow: hidden;
  margin: 20px 20px;

 }
 
 thead {
  color: rgb(126, 168, 170);
  font-size:larger;
  overflow: hidden;
  width: 100%;
}
/*.com {
  
  
  border-radius: 5px;
  color: black;
  font-weight: bold;
  width:200px;
  
  
  background-color: #198754;

}
*/
