* {
  box-sizing: border-box;
  margin: 0;
}
#navbarNav {
  margin-left: 70%;
}

.title-pic {
  background-color: aquamarine;
  height: 250px;
}

.title-pic h1 {
  text-align: center;
  padding-top: 90px;
}

.btn11{
  text-align: center; 
  margin: 50px;

}
.button_active{
  padding: 20px;
  font-weight: bold;
  
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tcard {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(213, 235, 219);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border: 1px solid gray;
}

.status-title {
  width: 100%;
  border-radius: 5px;
  border: 2px solid gray;
  padding: 10px;
  margin-top: 0px;
}

.task-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  border: 2px solid rgb(206, 45, 45);
  border-radius: 5px;
  margin: 10px 2px 10px 2px;
  padding: 10px 10px 0px 10px;
  background-color: snow;
}

/*----- taskbax2----*/
.task-box2 {
  width: 500px;
  height: 500px;
  display: grid;
  border: 2px solid rgb(160, 188, 36);
  border-radius: 5px;
  margin: 10px 2px 10px 2px;
  padding: 10px 10px 10px 10px;
  background-color: snow;
  text-align: left;
  line-height: 30px;
  color: #d3db2f;
  margin-left: 20px;
}


.button-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.button-panel button {
  border: 1px solid rgb(206, 45, 45);
  border-radius: 10px;
  margin: 0px 5px 0px 5px;
  padding: 10px;
  width: 40%;
}

.delete {
  background-color: red;
  color: white;
}
.edit {
  background-color: rgb(49, 138, 176);
  color: white;
}

#input-area {
  position: relative;
  text-align: center;
  margin: auto;
  width: 1200px;
  margin-top: 2%;
  margin-bottom: 2%;
}
input.form-control {
  border-color: #198754;
  margin-left: 30px;
  height: 44.5px;
}
.dropdown,
.dropdown-center,
.dropend,
.dropstart,
.dropup,
.dropup-center {
  position: relative;
  margin-left: 40px;
}

textarea.form-control {
  width: 700px;
  margin-left: 10%;
  border: #198754 solid 2px;
}
label {
  text-align: center;
  margin-left: 10%;
  color: #198754;
  font-size: 18px;
}
.container-text-center {
  border: 2px #198754 solid;
  text-align: center;
  width: 1200px;
  margin: auto;
}
/* media queries */
@media (min-width: 768px) and (max-width: 991.98px) {
  #input-area {
    width: 700px;
    position: relative;
  }
  .dropdown,
  .dropdown-center,
  .dropend,
  .dropstart,
  .dropup,
  .dropup-center {
    position: relative;
    margin-right: 30px;
    margin-left: 20px;
    width: 2px;
  }
}



/*---Sign-up form styling */

.col-md-6
{text-align: center;
  display:flex;
}

.form-label
{color:blueviolet;
  width: 140px;
  text-align: left;
  margin-top: 5px;

}

.form-control
{  width: 300px;
  height: 600px;
  margin: auto;
  border: 1px solid #73AD21;
  margin-top: 5px;

}

.col-12
{display:flex;
margin-top: 10px;
}

.btn4{
  text-align: center;
  margin-left: 250px;
  line-height: 40px;
  width: 260px;
  font-size: 25px;
  background-color: #d9470e;
  border-radius: 8px;
}

.SignUp
{
  border: 1px solid #d9470e;
  margin-left: 150px;
  margin-right: 600px;
  background-color: aliceblue;
display:inline;
}

.wel
{margin-bottom: 25px;
margin-top: 50px;
margin-left: 150px;
color:brown;} 

/* signup page css end */

/* login page  */
 .login-box{
  background-color: rgb(231, 219, 223);
  width:500px;
  height: 450px;
  margin-top: 20px;
  margin-left: 50px;
  padding-left:50px;
  }

 .sm-09{
  width:200px;

  padding:10px;
  text-align: left;
  margin-top: 20px;
  line-height: 30px;
 }

 .btn2{
  background-color: aqua;
  margin-left: 150px;
  line-height: 35px;
  width: 150px;
  border-radius: 8px;
 }

 .col-form-label1{
  text-align: left;
 }





/*----submit addnewtask....*/
 .button_active {
background-color:greenyellow;
width:300px;
line-height: 40px;
font-weight: bolder;
font-size: larger;
border-radius: 80px;
border: none;
margin-bottom: 10px;
 }


 

.col-2{
  margin-top:10px;
  width:20px;
}

.btn{
  width:200px;
}

